/* reset */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* fim reset */
/* background */
.base {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
    
    background-image: linear-gradient(#0000ff, #d000f9)
}
/* fim background */
/* quadros */
.fundo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;

    display: flex;

    transition: 500ms;

    border: 1px solid #000000;
    background-color: #c4c4c4;

    font: 500 30px Arial;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fundo:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 10px -5px #000000;

    background-color: rgb(255, 255, 255);
}
/* fim quadros */
/* imagens */
.imagem {
    width: 150px;
    height: 150px;
}
/* fim imagens */